name: Deploy to DEV

on:
  push:
    branches:
      - dev

permissions:
  contents: read
  actions: write

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Fake deploy to DEV
        run: echo "Simulating DEV deployment for POC..."
      -- name: Trigger QA automation via API
    run: |
      curl -X POST \
        -H "Accept: application/vnd.github.v3+json" \
        -H "Authorization: token ${{ secrets.AUTOMATION_REPO_TOKEN }}" \
        https://api.github.com/repos/VishalGiram0842/SampleRepoForCICD/dispatches \
        -d '{"event_type":"run-dev-tests","client_payload":{"source_repo":"${{ github.repository }}","env":"DEV"}}'
    - name: Post Checkout
        run: echo "Deployment completed"
