name: Deploy to DEV

on:
  push:
    branches:
      - dev

permissions:
  contents: read
  actions: write

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Fake deploy to DEV
        run: echo "Simulating DEV deployment for POC..."
      - name: Trigger DEV automation tests
        run: echo "Dispatching to SampleRepoForCICD..."
      - name: Post Checkout
        run: echo "Deployment completed"
